<% if @user %>
  <h1><%= @user.username.capitalize %>'s Wall</h1>
<% else %>
  <h1>Posts</h1>
<% end %>

<div class="new-post-button">
  <% if @user %>
    <%= link_to new_post_path(:recipient_id => @user.id), class: "btn btn-primary" do %>
      Create new post
    <% end %>
  <% end %>
</div>

<% @posts.each do |post| %>

  <div class='post-card'>
    <div class="post-header">
      <div class="post-author">
        <%= post.username %>
      </div>
      <div class="post-published-time">
        <%= post.created_at.strftime("%d-%m-%Y")%> at <%= post.created_at.strftime("%I:%M %p")%>
      </div>
    </div>
    <div class="post-content">
      <p><%= simple_format(post.message) %></p>
    </div>
    <div class="post-edit-options">
      <% if post.author_id == current_user.id %>
        <% if post.editable? %>
          <%= link_to 'Edit', edit_post_path(post), class: "btn btn-edit-post" %>
        <% end %>
        <%= link_to 'Remove', post, method: :delete, :data => { :confirm => "Are you sure you want to delete this message?" }, class: "btn btn-edit-post" %>
      <% end %>
    </div>
  </div>
<% end %>
